.products{
    width:98%;
    margin: 0 auto;
}

.products-box{
    display:flex;
    flex-direction: column;
    width:100%;
}

.titles{
    display:flex;
    justify-content: space-between;
    width:100%;
}


.product{
    display:flex;
    justify-content: space-between;
}