<div class="menu-container">
    <div class="menu">
        <div class="panels-container">
            <div class="panel-wrapper">
                <a href="/presupuestador/all">
                    <i class="fa-solid fa-file-invoice"></i>
                    <p>Presupuestos</p>
                </a>
            </div>
            <div class="panel-wrapper">
                <a href="/admin/dashboard/admin">
                    <i class="fa-solid fa-user"></i>
                    <p>Admin</p>
                </a>
            </div>
            <div class="panel-wrapper">
                <a href="/admin/dashboard/products">
                    <i class="fa-solid fa-shirt"></i>
                    <p>Productos</p>
                </a>
            </div>
            <div class="panel-wrapper">
                <a href="/admin/dashboard/categorias">
                    <i class="fa-solid fa-tag"></i>
                    <p>Categorías</p>
                </a>
            </div>
            <div class="panel-wrapper">
                <a href="/admin/dashboard/subcategorias">
                    <i class="fa-solid fa-sitemap"></i>
                    <p>Subcategorías</p>
                </a>
            </div>
            <div class="panel-wrapper">
                <a href="/admin/dashboard/marcas">
                    <i class="fa-solid fa-copyright"></i>
                    <p>Marcas</p>
                </a>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel-wrapper">
                <a href="/admin/dashboard/logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Logout</p>
                </a>
            </div>
        </div>
    </div>
</div>