.notfound-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.notfound{
    height:50%;
    width:80%;
    background-color:#ececec;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notfound h1{
    font-size:140px;
    background: url('/images/icons/wink.png')top;
    -webkit-background-clip:text;
            background-clip:text;
    -webkit-text-fill-color:transparent;
}