* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:900px;
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    width:100%;
    height:100%;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width:50%;
    height:90%/*fit-content*/;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-half{
    border:1px solid black;
    height:50%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.second-half{
    border:1px solid black;
    height:50%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    border:1px solid black;
    height:50%;
    width:50%;
}

.p-container-two{
    margin-top:20px;
    margin-right:20px;
}

.three, .four{
    display:flex;
    flex-direction: column;
    justify-content: end;
}

.p-container-three{
    margin-left: 20px;
    margin-bottom: 20px;
}

.p-container-four{
    margin-right:20px;
    margin-bottom:20px;
}

.p-container-two, .p-container-four{
    text-align:end
}