/* FOOTER */
@import url('rootStyles.css');

footer{
    height:fit-content;
    min-width:360px;
    background-color: var(--m5);
    text-align: center;
}

.footer-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px 20px;
    margin:0;
}

.redes{
    max-width:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:7px 5px;
    font-size:27px;
}

.copy{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:7px 5px;
}

.copy p{
    color:var(--m5b);
    margin:7px 5px;
}

.redes figure{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.redes i{
    color:var(--m2a);
    transition: 0.5s color;
}

.redes a{
    margin:0 5vw
}

.redes a:nth-child(2){
    margin:5px 30px;
}

@media (min-width:445px){
    main{
        min-height:62vh;
    }
}

@media (min-width:768px){
    /* FOOTER */
    main{
        min-height:70vh;
    }

    .footer-container{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .redes a{
        margin:0 38.35px
    }
    /* --------------------------------- */
}

/* ------ */
/* --------------------------------- */

/* DESKTOP */
/* ------ */

@media (min-width:1080px){
    /* FOOTER */

    main{
        min-height:76vh;
    }

    footer{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .footer-container{
        max-width:1280px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:90%;
    }

    .redes i{
        color:var(--m5b);
        transition: 0.5s color;
    }
    
    .redes i:hover{
        color: var(--m2a);
    }

    .redes a{
        margin:0 38.35px
    }
    /* --------------------------------- */
}

/* ------ */
/* --------------------------------- */