
@import url('rootStyles.css');

/* MOBILE */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}


h3{
    color:var(--m5);
    font-size:30px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

body{
    font-family: 'Dosis', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    outline: 1px solid rgba(112, 128, 144, 0.466);
}

main{
    margin-top:90px;
    padding-top:20px;
    min-height:100vh;
    min-width:360px;
    width:100%;
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(248, 248, 248)
}

.text-danger{
    color:red;
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    position: relative;
    overflow: hidden;
}

.product{
    background:white;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}

p{
    margin:0;
}

.alert-container{
    position: relative;
}

.alert-wrapper{
    position: fixed;
    width:300px;
    z-index:2000;
    background:#fafafa;
    padding:0;
    top:106px;
    right:-220vw;
    margin: 0;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    border-radius:5px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    transition:0.8s;
}

.alert-wrapper .vertical-line{
    height:58px;
    width:15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background:var(--m2);
    margin-right:5px;
}

.alert-wrapper p{
    font-size:18px;
    color:var(--m5);
    padding:5px;
}

.product-container{
    width:100%;
    max-width:540px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--First Half--*/

.first{
    width:100%;
    padding-bottom:30px;
}

/* Imágenes */

.images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    width:80vw;
    height:80vw;
    max-width:500px;
    max-height:500px;
    margin:20px 0;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.subimages-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.subimages{
    width:90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.subimage-wrapper{
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    width:80vw;
    height:80vw;
    max-width:470px;
    max-height:470px;
    transition: all 0.5s ease;
}

.image figure{
    width:80vw;
    height:80vw;
    max-width:500px;
    max-height:500px;
    margin:0;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image figure img{
    width:80vw;
    height:80vw;
    max-width:500px;
    max-height:500px;

}

.subimage figure{
    margin:3px;
    width:20vw;
    height:20vw;
    max-width:140px;
    max-height:140px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    overflow:hidden;
}

.subimage figure:hover{
    box-shadow: 0px 0px 2px 1px #ffbe4d;
}

.subimage figure img{
    margin:0;
    width:20vw;
    height:20vw;
    max-width:140px;
    max-height:140px;
    cursor:pointer;
    transition:0.8s;
}

.subimage figure img:hover{
    transform: scale(1.1);
}

/*--Second Half--*/

.second{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right:auto;
    margin-left:auto;
    padding:0 12px;
}

/* Name & Brand */

.title-wrapper{
    margin-top:20px
}

.title{
    margin-bottom:5px
}

.title h2{
    margin:0;
    font-size:25px;
    text-transform: uppercase;
}

.brand{
    width:fit-content;
}

.brand p{
    margin:0;
    text-transform: uppercase;
    font-size:14px;
    font-weight:600;
    letter-spacing:0.5px;
    padding:3px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-left:none;
    border-right:none;
    transition:0.8s;
}

.brand p:hover{
    background:var(--m2a);
    color:var(--m1);
    border: 2px solid var(--m1);
    border-left:none;
    border-right:none;
}

/* Details */

.details-container{
    width:100%;
    margin-top:20px;
}

.detail-wrapper{
    width:100%;
    margin:10px 0
}

.detail{
    width:100%;
    display:flex;
    align-items: center;
    font-size:19px;
    border:1px solid rgba(0, 0, 0, 0.05);
    border-radius:3px;
    background:rgb(252, 252, 252);
    padding:10px 8px;
}

.detail p:first-child{
    width:130px;
    margin-right:20px;
}

.description{
    margin-right:0;
    margin:5px 0;
}

.description p:first-child{
    width:100%;
}

.colors-two{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.colors-two figure{
    margin:0;
    width:25px;
    height:25px;
    
    border-radius:100%;
}

.btn-wrapper{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin:20px 0;
}

.btn{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button{
    padding:20px 100px;
    font-size:14px;
    font-weight:700;
    letter-spacing: 1.3px;
    border:none;
    border-radius:30px;
    color:white;
    background-color:var(--m1);
    margin-bottom:5px;
    transition: 0.8s;
}

.btn button:hover{
    background-color:var(--m2);
}

/* Related Products*/

.related-products-container{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.related-products-title-wrapper{
    width:85%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    padding-bottom: 30px;
    border-top:1px solid rgba(0, 0, 0, 0.1);
}

.related-products{
    width:91%;
    display:flex;
    overflow: hidden;
}

.articles-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.articles{
    width:95%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    overflow:hidden;
    overflow-x:scroll;
    padding-bottom:10px;
}

.articles::-webkit-scrollbar{
    height:0px;
}

.product-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3px;
}

.product{
    border:1px solid rgba(0, 0, 0, 0.025);
    border-bottom:none;
    border-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height:340px;
    background:rgb(253,253,253);
    transition:0.8s;
}

.product:hover{
    transform: scale(1.005);
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.4);
}

.product a{
    width:100%;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-titles-wrapper{
    margin-bottom:10px;
}

.header-text{
    font-size:20px;
    font-weight:900;
}

.header-text p{
    width:200px;
    max-width:340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom:3px;
    margin-left:-15px;
    color:var(--m1);
    transition:0.8s
}

.secondary-text p{
    font-size:14px;
    width:200px;
    max-width:340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:3px;
    margin-left:-10px;
    color:var(--m1a);
    transition:0.8s
}

.product:hover .header-text p{
    color:var(--m2);
}

.product:hover .secondary-text p{
    color:var(--m2a);
}

.product-middle-wrapper{
    width:101%;
}

.product-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:200px
}

.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.product-image figure{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    border-radius:8px;
    height:200px;
    transition:0.8s;
}

.product img{
    position:absolute;
    width:200px;
    height:200px;
}

.product-bottom-wrapper{
    margin-top:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.product-colors-container{
    width:85%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.product-colors{
    width:50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.color{
    width:20px;
    height:20px;
    border-radius:100%;
}

.color figure{
    width:20px;
    height:20px;
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius:100%;
}

@media (min-width: 768px){
    .product-container{
        max-width:720px;
    }

    .image-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        width:80vw;
        height:80vw;
        max-width:700px;
        max-height:700px;
        margin:20px 0;
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    }
    
    .image{
        display: flex;
        width:80vw;
        height:80vw;
        max-width:700px;
        max-height:700px;
        transition: all 0.5s ease;
    }
    
    .image figure{
        width:80vw;
        height:80vw;
        max-width:700px;
        max-height:700px;
        margin:0;
        background:black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image figure img{
        width:80vw;
        height:80vw;
        max-width:700px;
        max-height:700px;
    }

    .btn-wrapper{
        width:100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        margin:20px 0;
    }

    .btn button{
        padding:20px 100px;
        font-size:16px;
        font-weight:700;
        letter-spacing: 1.3px;
        border:none;
        border-radius:30px;
        color:white;
        background-color:var(--m1);
        margin-right:13px;
        margin-bottom:5px;
    }
}

@media (min-width: 1080px){
    .product-container{
        width:95%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-bottom:150px
    }

    .first{
        border-bottom:none;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0 20px;
    }

    .second{
        justify-content: flex-start;
        margin:0 20px;
        margin-top:20px;
    }

    /* Imágenes */
    
    .image-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        width:80vw;
        height:80vw;
        max-width:600px;
        max-height:600px;
        margin:20px 0;
    }

    .image{
        display: flex;
        width:80vw;
        height:80vw;
        max-width:600px;
        max-height:600px;
        transition: all 0.5s ease;
    }
    
    .image figure{
        width:80vw;
        height:80vw;
        max-width:600px;
        max-height:600px;
        margin:0;
        background:black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image figure img{
        width:80vw;
        height:80vw;
        max-width:600px;
        max-height:600px;
    }

    /* Name & Brand */

    .title-wrapper{
        margin-top:0;
        margin-bottom:20px
    }

    .title{
        margin-bottom:7px
    }

    .title h2{
        margin:0;
        font-size:25px;
        text-transform: uppercase;
    }

    .brand{
        width:fit-content;
    }

    .brand p{
        font-size:14px;
        font-weight:600;
        letter-spacing:0.5px;
    }

    /* Details */

    .details-container{
        width:100%;
        margin-top:0px;
        margin-bottom:20px
    }

    .detail-wrapper{
        width:100%;
        display:flex;
        align-items: center;
    }

    .detail-wrapper:nth-child(1), .detail-wrapper:nth-child(2){
        margin-bottom:20px
    }

    .detail{
        display:flex;
        align-items: center;
        margin-bottom:10px
    }

    .category p, .sku p, .stock p, .quantity p{
        margin-bottom:0px
    }

    .detail i{
        margin-right:5px;
        color:rgb(26, 187, 26)
    }

    .description, .colors{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom:7px
    }

    .description p:nth-child(2){
        font-size:13px
    }

    .colors{
        width:100%;
        margin:0;
    }

    .colors-two{
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .colors-two figure{
        margin:0;
        width:25px;
        height:25px;
        border:1px solid rgba(0, 0, 0, 0.2)
    }

    .btn-wrapper{
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin:0;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn button{
        padding:20px 80px;
        font-size:14px;
        font-weight:700;
        letter-spacing: 1.3px;
        border:none;
        border-radius:30px;
        color:white;
        background-color:var(--m1);
        margin-right:13px;
        margin-bottom:5px;
        cursor:pointer;
    }

    /* Related Products */
    
    .related-products{
        width:1061px;
        max-width:1061px;
    }

    .articles::-webkit-scrollbar{
        background-color:rgb(240, 240, 240);
        height:10px;
        border-top:1px solid rgba(0, 0, 0, 0.1);
        border-bottom:1px solid rgba(0, 0, 0, 0.1)
    }
    
    .articles::-webkit-scrollbar-thumb{
        background-color:var(--m4);
        width:1%;
        max-width:5px;
        border-radius:5px;
    }
}
/*
main{
    font-family: 'Anton';    
    letter-spacing: 0.7px;
}

.product-container{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top:30px
}



.top-first-half{
    display:flex;
    justify-content: center;
    align-items: center;
    width:60%;
}

.product-imgs{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    display:block;
}

.img-display{
    overflow:hidden;
    width:550px;
    height:550px
}

.img-showcase{
    display:flex;
    width:100%;
    transition: all 0.5s ease;
}

.img-showcase img{
    min-width:100%;
}

.img-select{
    display:flex;
    width:550px;
    flex-wrap: wrap;
    align-items: center;
}

.img-item{
    margin-top:0.3rem;
    margin-right:0.3rem;
    opacity: 0.6;
    overflow:hidden;
}

.img-item img{
    width:100px;
    height:100px;
    transform: scale(1);
    transition: 0.4s all
}

.img-item:hover{
    opacity: 1;
}

.img-item img:hover{
    transform: scale(1.26);
}

.top-second-half{
    font-family: 'Dosis', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;;
    width:40%;
}

.top-second-half h2{
    font-size:32px;
}

.top-second-half > *{
    margin: 5px 0;
}

.top-second-half button{
    cursor:pointer;
    font-size:20px;
    border: none;
    border-radius: 3px;
    padding:10px;
    background: #8861db;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.bottom{
    margin: 70px 558px 100px 0px
}

.brand-container{
    background-color:rgb(255, 212, 103);
    padding:1px 3px;
    width:fit-content;
}

.line{
    width: 14.5%;
    border-bottom:4px solid black
}

.ok-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.ok{
    width:fit-content;
    display:flex;
    align-items: center;
}

.ok i{
    font-size:18px;
    margin-right:7px;
    color:rgb(55, 216, 55)
}
*/