:root{
    --m1:#8d35ec;
    --m1a:#d3bfe7;
    --m1b:#a551ff;
    --m1d:#e6dcf0;
    --m2:#FEB129;
    --m2a:#ffbe4d;
    --m3:#66a6d9;
    --m3a:#c9d8e4;
    --m4:#e365c1;
    --m4a:#ffdbf5;
    --m5:#3b3c47;
    --m5a:#4d5061;
    --m5b:#dddee6;
    --m5c:#6b6d7c;
    --m5d:#abacb1;
    --danger:#E30000;
    --important:gold;
    --activity:rgb(111, 249, 96);
    --inactivity: rgb(249, 96, 96);
}