:root{
    --main-color: #7D50B9;
    --main-product-variant: #8e76ad;
    --main-square-variant: #b58bec;
    --second-color: #4FA4A5;
    --second-product-variant: #b1caca;
    --third-color: #FE6F9B;
    --third-product-variant: #f3d9e1;
    --fourth-color: #faa835;
    --fourth-product-variant: #fac274;
}