<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %> 
<body>
    <%- include('partials/header') %>
    <main>
        <div class="main-container">
            <div class="brands-container">
                <% for( let i = 0; i < brands.length; i++ ) { %>
                    <div class="brand-container">
                        <a href="/catalogo/brand/<%= brands[i].name %>">
                            <div class="brand">
                                <div class="brand-background" style="background-image: url('/images/brands/Adidas.png')">
                                
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('partials/footer')  %>
</body>
</html>