<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %> 
<body>
    <%- include('partials/header') %>
    <main>
        <div class="success-container">
            <div class="success-wrapper">
                <div class="success-img">
                    <figure>
                        <img src="/images/icons/Sent.png" alt="">
                    </figure>
                </div>
                <div class="success-text">
                    <h3>Tu consulta ha sido enviada</h3>
                </div>
            </div>
        </div>
    </main> 
    <%- include('partials/footer')  %> 
    <script src="/js/bought.js"></script>
</body>
</html>