<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %> 
<body>
    <%- include('partials/header') %>
    <main>
        <div class="main-container">
            <div class="main-text">
                <img src="/images/icons/happy.png" alt="">
                <h1>¡Gracias por su consulta!</h1>
            </div>
            <div class="sub-text">
                <h2>A la brevedad recibirá una respuesta</h2>
                <img src="/images/icons/wink.png" alt="">
            </div>
        </div>
    </main>
    <%- include('partials/footer')  %> 
    <script src="/js/bought.js"></script>
</body>
</html>