<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>
    <hr>
    <main>
        <div class="main-container">
            <!-- Banner Principal -->
            <!--
            <div class="banner-principal">
                <section class="banner-principal-section">
                    <article class="banner-principal-article">
                        <div class="banner">
                            <div class="banner-box-container">
                                <div class="banner-box">
                                    <figure class="figure figure-one">
                                        <img src="/images/banner/Magus-Banner-1.png" alt="">
                                    </figure>
                                    <figure class="figure figure-two">
                                        <img src="/images/banner/Magus-Banner-2.png" alt="">
                                    </figure>
                                    <figure class="figure figure-three">
                                        <img src="/images/banner/Magus-Banner-3.png" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="banner-btns-box">
                                <div class="banner-btn-box first-btn">
                                    <button>
                                        <i class="fa-solid fa-angle-left"></i>
                                    </button>
                                </div>
                                <div class="banner-btn-box second-btn">
                                    <button>
                                        <i class="fa-solid fa-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
            -->
            <section class="novedades-section">
                <h3>Novedades</h3>
                <div class="line"></div>
                <!-- Botones de la lista | Fin -->
                <div class="novedades-section-wrapper">
                    <div class="articles-container">
                        <%- include('partials/productCard.ejs') %>
                    </div>
                </div>
            </section>
            <section class="description-section">
                <h3>Sobre Nosotros</h3>
                <div class="description-section-container">
                    <div class="custom-shape-divider-top-1669828692">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                        </svg>
                    </div>
                    <div class="description-container">
                        <div class="square-container">
                            <div class="square">
                                <div class="first-text">
                                    <p>Somos una empresa líder en el mercado del merchandising, regalos empresariales y material para punto de venta P.O.P.</p>
                                </div>
                                <div class="icon-container">
                                    <img src="./images/Magus-logo.png" alt="">
                                </div>
                                <div class="bright"></div>
                                <div class="last-text">
                                    <p>Magus Promociones. ¡Desde 2002, Excelencia en marketing promocional!</p>
                                </div>
                            </div>
                        </div>
                        <div class="texts-container">
                            <div class="text-wrapper">
                                <div class="text-icon">
                                    <i class="fa-solid fa-brain"></i>
                                </div>
                                <div class="text-container">
                                    <div class="text">
                                        <p>Nuestros productos son concebidos, desarrollados y producidos tomando como estándar la excelencia, representada en sus diseños novedosos, exitosa funcionalidad y sólida artesanía.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <div class="text-icon">
                                    <i class="fa-solid fa-chart-simple"></i>
                                </div>
                                <div class="text-container">
                                    <div class="text">
                                        <p>Utilizamos las más modernas y eficientes técnicas de aplicación, para que las marcas comuniquen, se destaquen y perduren en el tiempo en los mismos, como se merecen.</p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="text-wrapper">
                                <div class="text-icon">
                                    <i class="fa-solid fa-people-group"></i>
                                </div>
                                <div class="text-container">
                                    <div class="text">
                                        <p>Nuestra premisa es simple: somos socios de nuestros clientes y los acompañamos en sus acciones promocionales, hasta que alcancen el éxito en la implementación de su campaña.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="brands-section">
                <h3>Nuestras Marcas</h3>
                <div class="brands-wrapper-container">
                    <div class="brands-wrapper">
                        <div class="brands-container">
                            <% for( let i = 0; i < brands.length; i++ ) { %>
                                <% if (brands[i].id == i + 1) { %>
                                    <article class="brand-article">
                                        <a href="/">
                                            <figure>
                                                <img src="/images/brands/Brand-<%= brands[i].name %>.jpg" alt="">
                                            </figure>
                                        </a>
                                    </article>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </section>
            <section class="clients-section">
                <h3>Nuestros Clientes</h3>
                <div class="clients-wrapper-container">
                    <div class="clients-wrapper">
                        <div class="clients-container">
                            <article class="client-article">
                                    <figure>
                                        <img src="./Cliente-Agfa.jpg" alt="">
                                    </figure>
                            </article>
                            <article class="client-article">
                                <figure>
                                    <img src="./Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="client-article">
                                <figure>
                                    <img src="./Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="client-article">
                                <figure>
                                    <img src="./Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="client-article">
                                <figure>
                                    <img src="./Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="client-article">
                                <figure>
                                    <img src="./Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="client-article">
                                <figure>
                                    <img src="./Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="client-article">
                                <figure>
                                    <img src="./Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="redes">
                <figure>
                    <a href="https://www.facebook.com/Magus-Promociones-346269575740830/">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/maguspromo/?hl=en">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/magus-promociones/?originalSubdomain=ar">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </figure>
            </div>
            <div class="copy">
                <p><em>© 2022 Magus Promociones S.A. Todos los derechos reservados.</em></p>
            </div>
        </div>
    </footer>
    
    <script src="/js/menu.js"></script>
    <script src="/js/photo.js"></script>
</body>
</html>