<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %> 
<body>
    <main>
        <div class="main-container">
            <div class="form-container">
                <form action="/presupuestador" method="POST">
                    <div class="form-wrapper">
                        <div class="name-container">
                            <label for="name"><b>Nombre</b> (requerido)</label>
                            <input type="text" name="name">
                            <% if(locals.errors && errors.name) { %> 
                                <div class="text-danger">
                                    <%= errors.name.msg %> 
                                </div>
                            <% } %> 
                        </div>
                        <div class="company-container">
                            <label for="company"><b>Empresa</b> (opcional)</label>
                            <input type="text" name="company">
                        </div>
                        <div class="email-container">
                            <label for="email"><b>E-Mail</b> (requerido)</label>
                            <input type="email" name="email">
                            <% if(locals.errors && errors.email) { %> 
                                <div class="text-danger">
                                    <%= errors.email.msg %> 
                                </div>
                            <% } %> 
                        </div>
                        <div class="phone-container">
                            <label for="phone"><b>Teléfono</b> (requerido)</label>
                            <input type="tel" name="phone">
                            <% if(locals.errors && errors.phone) { %> 
                                <div class="text-danger">
                                    <%= errors.phone.msg %> 
                                </div>
                            <% } %> 
                        </div>
                        <div class="comment-container">
                            <label for="comment"><b>Comentarios</b> (opcional)</label>
                            <input type="text" name="comment">
                        </div>
                        <div class="btn-container">
                            <button type="submit">></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>