<div class="aclaraciones">
    <div class="dotted">
        <p><b>Todos los precios son unitarios y no incluyen IVA.</b></p>
        <p><b>Los precios y la disponibilidad pueden variar sin previo aviso. Consultar antes de concretar la operación.</b></p>
        <p><b>Plazo de entrega:</b> 15 días aproximadamente -a partir de la acreditación del anticipo y boceto virtual aprobado-.</p>
        <p><b>Condiciones de pago:</b> 50% de anticipo y saldo cancelado a la entrega.</p>
        <p><b>Los precios no incluyen costo de envío.</b></p>
        <p><b>Aplicación del logo:</b></p>
        <ul>
            <li>1C/1C es un color en una cara (2C/1C, 2C/2C, etc).</li>
            <li>Full es full color.</li>
            <li>GBR es grabado bajo relieve.</li>
            <li>TD es transfer digital.</li>
        </ul>
        <p><b>Observaciones: </b></p>
    </div>
    <br>
    <div class="condiciones">
        <p><b>Condiciones y aclaraciones:</b></p>
        <br>
        <ul>
            <li>Debido a los procesos de producción y de control de calidad, los pedidos podrán tener una diferencia de +/- 2%, facturándose las cantidades exactas en la entrega.</li>
            <li>Los logos a aplicar deben ser enviados en archivos de formato Corel, Illustrator o PDF, convertidos a curvas y con los números de color de Pantone (cartilla Pantone Solid Coated C) en aquellos casos que sean necesarios</li>
            <li>Los plazos de entrega comienzan a partir de la acreditación del adelanto (si correspondiera), recepción del original en curvas y aprobación por escrito del boceto digital.</li>
            <li>El precio NO incluye diseño de logo en curvas, redibujado, ni muestra de producción.</li>
            <li>Las muestras físicas de productos tienen valor comercial y en caso de solicitarlas, deberan ser retiradas y devueltas en nuestras oficinas en el mismo estado que se entregaron y en el tiempo acordado entre las partes. El no cumplimiento de alguno de estos puntos, obligará a la facturación y cobro de las mismas.</li>
            <li>Nuestra intervención sobre los archivos (master) recibidos para aplicación será únicamente para ajustar el tamaño al producto elegido,  tanto color como diseño de los mismos es responsabilidad de quien los envía.</li>
            <li>La aprobación de la muestra virtual y/o el pago del anticipo significa la aceptación total de la producción.</li>
        </ul>
    </div>
</div>