<footer>
    <div class="footer-container">
        <div class="redes">
            <figure>
                <a href="https://www.facebook.com/Magus-Promociones-346269575740830/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/maguspromo/?hl=en">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/magus-promociones/?originalSubdomain=ar">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </figure>
        </div>
        <div class="copy">
            <p><em>© 2022 Magus Promociones S.A. Todos los derechos reservados.</em></p>
        </div>
    </div>
</footer>