<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head") %>
<body>
    <main>
        <div class="login-container">
            <div class="login">
                <!-- Login Form | Beginning -->
                <form action="/admin/login" method="POST" class="login-form" id="login-form">
                    <div class="form-container">
                        <div class="art-container">
                        </div>
                        
                        <div class="form-wrapper">
                            <h2>Ingresá a tu cuenta</h2>
                            <div class="inputs-container">

                                <!-- Email | Beginning -->
                                <div class="email" id="email">
                                    <div class="email-input">
                                        <input type="email" class="email-input" name="email" id="email-input" placeholder="Email">
                                    </div>
                                    <% if(locals.errors && errors.email) { %> 
                                        <div class="icon-danger">
                                            <i class="fa-solid fa-triangle-exclamation"></i>
                                        </div>
                                        <div class="text-danger">
                                            <p><%= errors.email.msg %></p>
                                        </div>
                                    <% } %> 
                                </div>
                                <!-- Email | End -->

                                <!-- Password | Beginning -->
                                <div class="password" id="grupo-password">
                                    <div class="password-input">
                                        <input type="password" class="formulario-input" name="password" id="password-input" placeholder="Contraseña">
                                    </div>
                                    <% if(locals.errors && errors.password) { %> 
                                    <div class="icon-danger">
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                    </div>
                                    <div class="text-danger">
                                        <p><%= errors.password.msg %> </p>
                                    </div>
                                    <% } %> 
                                </div>
                                <!-- Password | End -->

                            </div>

                            <!-- Button | Beginning -->
                            <div class="form form-btn-submit">
                                <button type="submit" class="formulario-btn">Login</button>
                            </div>
                            <!-- Button | End -->

                            <!-- Remember Me Checkbox | Beginning -->
                            <div class="col-md-6 my-2">
                                <div class="form-group form-check">
                                    <label for="checkbox" class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="remember_user">
                                        <p>Recordar el usuario</p>
                                    </label>
                                </div>
                            </div>
                            <!-- Remember Me Checkbox | End -->

                            <!-- Links | Beginning -->
                            <div class="form-links">
                                <div class="link">
                                    <a href="#">¿Olvidaste tu contraseña?</a>
                                </div>
                                <div class="link">
                                    <a href="/admin/login">¿Ya tenés una cuenta?</a>
                                </div>
                            </div>
                            <!-- Links | End-->

                        </div>
                        
                    </div>
                </form>
                <!-- Login Form | End -->
            </div>
        </div>
    </main>
</body>

<script src="/js/login.js"></script>
<script src="https://kit.fontawesome.com/d97ccaa3ff.js" crossorigin="anonymous"></script>
</html>
